<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.eden.euphoria.user.dto.UserVo" alias="UserVo" />
        <typeAlias type="com.eden.euphoria.user.dto.QuestionVo" alias="QuestionVo" />
        <typeAlias type="com.eden.euphoria.board.dto.BoardVo" alias="BoardVo" />
        <typeAlias type="com.eden.euphoria.comment.dto.CommentVo" alias="CommentVo" />
    </typeAliases>
</configuration>