<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.board.BoardSQLMapper">

    <select id="createViewPk" resultType="int">
        select nextval(eden_board_seq)
    </select>

    <!-- 게시글 목록 -->
    <select id="getBoardList" resultType="BoardVo">
        select t2.*
        from (select t1.*, row_number() over (order by board_no) as rnum
              from (select eb.*
                    from eden_board eb,
                         eden_user eu
                    where eb.user_no = eu.user_no
                    order by board_no) t1) t2
        <![CDATA[
        WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
          AND t2.rnum <= #{pageNum} * 5
        ]]>
    </select>

    <!-- 게시글 작성 -->
    <insert id="write">
        insert into eden_board(category_no, user_no, board_title, board_content, board_readcount, board_write_date)
        VALUES (#{category_no},
                #{user_no},
                #{board_title},
                #{board_content},
                0,
                now())
    </insert>

    <!-- 게시글 상세보기 페이지 -->
    <select id="getBoardByNo" resultType="BoardVo">
        select *
        from eden_board
        where board_no = #{board_no}
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard">
        update eden_board
        SET board_title   = #{board_title},
            board_content = #{board_content}
        where board_no = #{board_no}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard">
        delete
        from eden_board
        where board_no = #{board_no}
    </delete>

    <!-- 게시글 좋아요 -->
    <insert id="doLike">
        insert into eden_board_like (user_no, board_no, like_date)
        values (#{user_no}, #{board_no}, now())
    </insert>

    <!-- 게시글 좋아요 상태 -->
    <select id="getMyLikeCount" resultType="int">
        select count(*)
        from eden_board_like
        where user_no = #{user_no}
          and board_no = #{board_no}
    </select>

    <!-- 게시글 좋아요 취소 -->
    <delete id="deleteLike">
        delete
        from eden_board_like
        where board_no = #{board_no}
          and user_no = #{user_no}
    </delete>

    <!-- 게시글 좋아요 총 갯수 -->
    <select id="getTotalLikeCount" resultType="int">
        select count(*)
        from eden_board_like
        where board_no = #{board_no}
    </select>

    <!-- 게시글 카테고리별 출력 -->
    <select id="getBoardByCategoryList" resultType="BoardVo">
        select t2.*
        from (select t1.*, row_number() over (order by board_no) as rnum
              from (select eb.*
                    from eden_board eb,
                         eden_user eu
                    where eb.user_no = eu.user_no
                      and eb.category_no = #{category_no}
                    order by board_no) t1) t2
        <![CDATA[
        WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
          AND t2.rnum <= #{pageNum} * 5
        ]]>
    </select>

    <!-- 게시글 카테고리 정보 -->
    <select id="getCategoryByNo" resultType="CategoryVo">
        select *
        from eden_board_category
        where category_no = #{category_no}
    </select>

    <!-- 게시글 카테고리 목록 -->
    <select id="getCategoryList" resultType="CategoryVo">
        select *
        from eden_board_category
    </select>

    <!-- 게시글 검색 (제목) -->
    <select id="selectByTitle" resultType="BoardVo">
        <choose>
            <when test="category_no gte 1">
                select t2.* from (select t1.*, row_number() over (order by board_no) as rnum
                                  from (select eb.* from eden_board eb, eden_user eu where eb.user_no = eu.user_no
                                        and eb.category_no = #{category_no}
                                        and board_title like '%' #{title} '%'
                                        order by board_no) t1) t2
                <![CDATA[
                  WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
                  AND t2.rnum <= #{pageNum} * 5
                ]]>
            </when>
            <when test="category_no lte 0">
                select t2.* from (select t1.*, row_number() over (order by board_no) as rnum
                                  from (select eb.* from eden_board eb, eden_user eu where eb.user_no = eu.user_no
                                        and board_title like '%' #{title} '%'
                                        order by board_no) t1) t2
                <![CDATA[
                  WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
                  AND t2.rnum <= #{pageNum} * 5
                ]]>
            </when>
        </choose>
    </select>

    <!-- 게시글 검색 (내용) -->
    <select id="selectByContent" resultType="BoardVo">
        <choose>
            <when test="category_no gte 1">
                select t2.* from (select t1.*, row_number() over (order by board_no) as rnum
                                  from (select eb.* from eden_board eb, eden_user eu where eb.user_no = eu.user_no
                                        and eb.category_no = #{category_no}
                                        and eb.board_content like '%' #{content} '%'
                                        order by board_no) t1) t2
                <![CDATA[
                  WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
                  AND t2.rnum <= #{pageNum} * 5
                ]]>
            </when>
            <when test="category_no lte 0">
                select t2.* from (select t1.*, row_number() over (order by board_no) as rnum
                                  from (select eb.* from eden_board eb, eden_user eu where eb.user_no = eu.user_no
                                        and board_content like '%' #{content} '%'
                                        order by board_no) t1) t2
                <![CDATA[
                  WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
                  AND t2.rnum <= #{pageNum} * 5
                ]]>
            </when>
        </choose>
    </select>

    <!-- 게시글 검색 (작성자) -->
    <select id="selectByNickName" resultType="BoardVo">
        <choose>
            <when test="category_no gte 1">
                select t2.* from (select t1.*, row_number() over (order by board_no) as rnum
                                  from (select eb.* from eden_board eb, eden_user eu where eb.user_no = eu.user_no
                                        and eb.category_no = #{category_no}
                                        and eu.user_nickname like '%' #{nickname} '%'
                                        order by board_no) t1) t2
                <![CDATA[
                  WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
                  AND t2.rnum <= #{pageNum} * 5
                ]]>
            </when>
            <when test="category_no lte 0">
                select t2.* from (select t1.*, row_number() over (order by board_no) as rnum
                                  from (select eb.* from eden_board eb, eden_user eu where eb.user_no = eu.user_no
                                        and eu.user_nickname like '%' #{nickname} '%'
                                        order by board_no) t1) t2
                <![CDATA[
                  WHERE t2.rnum >= (#{pageNum} - 1) * 5 + 1
                  AND t2.rnum <= #{pageNum} * 5
                ]]>
            </when>
        </choose>
    </select>

    <!-- 게시글 총 갯수 -->
    <select id="boardCount" resultType="int">

        <choose>
            <when test="category_no gte 1">
                select count(*) from eden_board eb, eden_user eu where eb.user_no = eu.user_no and eb.category_no =
                #{category_no}
            </when>
            <when test="category_no lte 0">
                select count(*) from eden_board eb, eden_user eu where eb.user_no = eu.user_no
            </when>
        </choose>
    </select>

    <!-- 검색 게시글 총 갯수 -->
    <select id="selectCount" resultType="int">
        select count(*)
        from eden_board eb , eden_user eu
        where eb.user_no = eu.user_no
        <if test="searchType != null and searchWord != null">
            <choose>
                <when test="searchType == 'title' and category_no gte 1">
                    and eb.board_title LIKE '%' #{searchWord} '%' and eb.category_no = #{category_no}
                </when>
                <when test="searchType == 'content' and category_no gte 1">
                    AND eb.board_content LIKE '%' #{searchWord} '%' and eb.category_no = #{category_no}
                </when>
                <when test="searchType == 'nick' and category_no gte 1">
                    AND eu.user_nickname LIKE '%' #{searchWord} '%' and eb.category_no = #{category_no}
                </when>

                <when test="searchType == 'title' and category_no lte 0">
                    and eb.board_title like '%' #{searchWord} '%'
                </when>
                <when test="searchType == 'content' and category_no lte 0">
                    and eb.board_content like '%' #{searchWord} '%'
                </when>
                <when test="searchType == 'nick' and category_no lte 0">
                    and eu.user_nickname like '%' #{searchWord} '%'
                </when>
            </choose>
        </if>
    </select>

    <!-- 게시글 조회수 중복 증가 방지 전체 조회  -->
    <select id="getViewPageList" resultType="ViewPageVo">
        select * from eden_view_page where board_no = #{boardNo}
    </select>

    <!-- 게시글 조회수 중복 증가 방지 생성 -->
    <insert id="insertViewPage">
        insert into eden_view_page (view_page_no, board_no, lockup_ip, view_inquiry_time)
        values (
                #{view_page_no},
                #{board_no},
                #{lockup_ip},
                now())
    </insert>

    <!-- 게시글 조회수 중복 증가 아이피 조회 -->
    <select id="selectByLockupIp" resultType="int">
        select count(*) from eden_view_page where lockup_ip = #{lockup_ip}
    </select>

    <!-- 게시글 조회수 중복 증가 게시글 번호 조회 -->
    <select id="selectByViewByBoardNo" resultType="int">
        select count(*) from eden_view_page where board_no = #{boardNo}
    </select>

    <!-- 게시글 조회수 중복 증가 게시글 번호 및 아이피 조회 -->
    <select id="selectByViewPage" resultType="int">
        select count(*) from eden_view_page where lockup_ip = #{lockup_ip} and board_no = #{board_no}
    </select>

    <!-- 게시글 조회수 증가 -->
    <update id="increaseReadCount">
        update eden_board set eden_board.board_readcount = board_readcount + 1 where board_no = #{boardNo}
    </update>

    <update id="updateViewPage">
        UPDATE eden_view_page SET view_inquiry_time = now() WHERE lockup_ip = #{lockup_ip} AND board_no = #{board_no}
    </update>

    <!-- 내가 작성한 게시글 -->
    <select id="getMyPostList" resultType="BoardVo">
        select * from eden_board where user_no = #{user_no} order by board_no desc
    </select>
</mapper>