<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.board.BoardSQLMapper">

    <!-- 게시글 목록 -->
    <select id="getBoardList" resultType="BoardVo">
        select * from eden_board
    </select>

    <!-- 게시글 작성 -->
    <insert id="write">
        insert into eden_board(user_no, board_title, board_content, board_readcount, board_write_date)
        VALUES (#{user_no},
                #{board_title},
                #{board_content},
                0,
                now())
    </insert>

    <!-- 게시글 상세보기 페이지 -->
    <select id="getBoardByNo" resultType="BoardVo">
        select *
        from eden_board
        where board_no = #{board_no}
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard">
        update eden_board
        SET board_title   = #{board_title},
            board_content = #{board_content}
        where board_no = #{board_no}
    </update>

    <delete id="deleteBoard">
        delete
        from eden_board
        where board_no = #{board_no}
    </delete>
</mapper>